<h2>Edit credentials</h2>

<%= render "form.html", changeset: @changeset,
                        action: credentials_path(@conn, :update, @credentials) %>

<%= link "Back", to: credentials_path(@conn, :index) %>
