<h2>Show credentials</h2>

<ul>

  <li>
    <strong>Strategy:</strong>
    <%= @credentials.strategy %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @credentials.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @credentials.password %>
  </li>

  <li>
    <strong>Token1:</strong>
    <%= @credentials.token1 %>
  </li>

</ul>

<%= link "Edit", to: credentials_path(@conn, :edit, @credentials) %>
<%= link "Back", to: credentials_path(@conn, :index) %>
